<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<link rel="stylesheet" href="/static/main.css"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://kit.fontawesome.com/1b27e62864.js" crossorigin="anonymous"></script>
<style>
    @media screen and (max-width: 600px) {
        .top-nav1 {
            display: none;
        }
    }
    @media screen and (min-width: 600px) {
        .top-nav2 {
            display: none;
        }
    }

    .top-nav2 {
        background-color: #2c3541;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #2c3541;
    }

    li {
        float: left;
    }

    li a {
        font-size: 1.4rem;
        display: block;
        color: #87a4c4;
        text-align: center;
        padding: 20px 20px;
        text-decoration: none;
        text-decoration-style: wavy;
    }

    li a:hover {
        background-color: rgba(26, 19, 59, 0.13);
    }
</style>
