<div class="top-nav1">
    <ul>
        <li><a class="active" href="#">F L A S H C A R D S</a></li>
        <li><a href="#news">Lessons</a></li>
        <li><a href="#contact">Your words</a></li>
        <li><a href="#about">About </a></li>
        <li><a href="#login" style="margin-right: 10px">Login </a></li>
    </ul>
</div>
<div class="top-nav2 row">
    <div class="col-10">
        <li><a class="active" href="#">F L A S H C A R D S</a></li>
    </div>
    <div class="col-2 d-flex justify-content-center align-items-center">
        <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Lessons</a>
                <a class="dropdown-item" href="#">Your words</a>
                <a class="dropdown-item" href="#">About</a>
            </div>
        </div>
    </div>
</div>